@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400&display=swap');

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type=number] {
	-moz-appearance: textfield;
}
* {
	box-sizing: border-box;
	transition: all ease .2s;
}

body {
	overflow: 'scroll';
	font-family: 'Lexend Deca', sans-serif;
	background-color: #101010;
	color: #ffffff;
	font-weight: 300;
	min-width: 300px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}